Source: rust-proxmox-sdn-types
Section: rust
Priority: optional
Build-Depends: debhelper-compat (= 13),
 dh-sequence-cargo
Build-Depends-Arch: cargo:native <!nocheck>,
 rustc:native (>= 1.82) <!nocheck>,
 libstd-rust-dev <!nocheck>,
 librust-anyhow-1+default-dev <!nocheck>,
 librust-proxmox-schema-4+api-macro-dev <!nocheck>,
 librust-proxmox-schema-4+api-types-dev <!nocheck>,
 librust-proxmox-schema-4+default-dev <!nocheck>,
 librust-proxmox-serde-1+default-dev <!nocheck>,
 librust-proxmox-serde-1+perl-dev <!nocheck>,
 librust-regex-1+default-dev (>= 1.7-~~) <!nocheck>,
 librust-serde-1+default-dev <!nocheck>,
 librust-serde-1+derive-dev <!nocheck>
Maintainer: Proxmox Support Team <support@proxmox.com>
Standards-Version: 4.7.0
Vcs-Git: git://git.proxmox.com/git/proxmox-ve-rs.git
Vcs-Browser: https://git.proxmox.com/?p=proxmox-ve-rs.git
Homepage: https://proxmox.com
X-Cargo-Crate: proxmox-sdn-types
Rules-Requires-Root: no

Package: librust-proxmox-sdn-types-dev
Architecture: any
Multi-Arch: same
Depends:
 ${misc:Depends},
 librust-anyhow-1+default-dev,
 librust-proxmox-schema-4+api-macro-dev,
 librust-proxmox-schema-4+api-types-dev,
 librust-proxmox-schema-4+default-dev,
 librust-proxmox-serde-1+default-dev,
 librust-proxmox-serde-1+perl-dev,
 librust-regex-1+default-dev (>= 1.7-~~),
 librust-serde-1+default-dev,
 librust-serde-1+derive-dev
Provides:
 librust-proxmox-sdn-types+default-dev (= ${binary:Version}),
 librust-proxmox-sdn-types-0-dev (= ${binary:Version}),
 librust-proxmox-sdn-types-0+default-dev (= ${binary:Version}),
 librust-proxmox-sdn-types-0.1-dev (= ${binary:Version}),
 librust-proxmox-sdn-types-0.1+default-dev (= ${binary:Version}),
 librust-proxmox-sdn-types-0.1.0-dev (= ${binary:Version}),
 librust-proxmox-sdn-types-0.1.0+default-dev (= ${binary:Version})
Description: Rust crate "proxmox-sdn-types" - Rust source code
 Source code for Debianized Rust crate "proxmox-sdn-types"
