{% for name, routemap_list in routemaps | items %}
{% for routemap in routemap_list %}
!
route-map {{ name }} {{ routemap.action }} {{ routemap.seq }}
{%  for match in routemap.matches %}
 match {{ match.key }}{% if match.value is defined %}{{ " " ~ match.value }}{% endif %}

{%  endfor %}
{%  for set in routemap.sets %}
 set {{ set.key }}{% if set.value is defined %}{{ " " ~ set.value }}{% endif %}

{%  endfor %}
{% if routemap.call %}
 call {{ routemap.call }}
{% endif %}
{% if routemap.exit_action %}
 {{ routemap.exit_action.key }}{% if routemap.exit_action.value is defined %}{{ " " ~ routemap.exit_action.value }}{% endif %}

{% endif %}
{% for line in routemap.custom_frr_config %}
{{ line }}
{% endfor %}
exit
{% endfor %}
{% endfor %}
