Source: rust-proxmox-ve-config
Section: rust
Priority: optional
Build-Depends: debhelper-compat (= 13),
 dh-sequence-cargo
Build-Depends-Arch: cargo:native <!nocheck>,
 rustc:native <!nocheck>,
 libstd-rust-dev <!nocheck>,
 librust-anyhow-1+default-dev <!nocheck>,
 librust-const-format-0.2+default-dev <!nocheck>,
 librust-log-0.4+default-dev <!nocheck>,
 librust-nix-0.29+default-dev <!nocheck>,
 librust-proxmox-network-types-0.1+api-types-dev <!nocheck>,
 librust-proxmox-network-types-0.1+default-dev <!nocheck>,
 librust-proxmox-schema-4+api-types-dev <!nocheck>,
 librust-proxmox-schema-4+default-dev (>= 4.1-~~) <!nocheck>,
 librust-proxmox-sdn-types-0.1+default-dev <!nocheck>,
 librust-proxmox-section-config-3+default-dev <!nocheck>,
 librust-proxmox-serde-1+default-dev <!nocheck>,
 librust-proxmox-serde-1+perl-dev <!nocheck>,
 librust-proxmox-sortable-macro-1+default-dev <!nocheck>,
 librust-proxmox-sys-1+default-dev <!nocheck>,
 librust-regex-1+default-dev (>= 1.7-~~) <!nocheck>,
 librust-serde-1+default-dev <!nocheck>,
 librust-serde-1+derive-dev <!nocheck>,
 librust-serde-json-1+default-dev <!nocheck>,
 librust-serde-plain-1+default-dev <!nocheck>,
 librust-serde-with-3+default-dev <!nocheck>,
 librust-thiserror-2+default-dev <!nocheck>,
 librust-tracing-0.1+default-dev (>= 0.1.37-~~) <!nocheck>
Maintainer: Proxmox Support Team <support@proxmox.com>
Standards-Version: 4.7.0
Vcs-Git: git://git.proxmox.com/git/proxmox-ve-rs.git
Vcs-Browser: https://git.proxmox.com/?p=proxmox-ve-rs.git
X-Cargo-Crate: proxmox-ve-config
Rules-Requires-Root: no

Package: librust-proxmox-ve-config-dev
Architecture: any
Multi-Arch: same
Depends:
 ${misc:Depends},
 librust-anyhow-1+default-dev,
 librust-const-format-0.2+default-dev,
 librust-log-0.4+default-dev,
 librust-nix-0.29+default-dev,
 librust-proxmox-network-types-0.1+api-types-dev,
 librust-proxmox-network-types-0.1+default-dev,
 librust-proxmox-schema-4+api-types-dev,
 librust-proxmox-schema-4+default-dev (>= 4.1-~~),
 librust-proxmox-sdn-types-0.1+default-dev,
 librust-proxmox-section-config-3+default-dev,
 librust-proxmox-serde-1+default-dev,
 librust-proxmox-serde-1+perl-dev,
 librust-proxmox-sortable-macro-1+default-dev,
 librust-proxmox-sys-1+default-dev,
 librust-regex-1+default-dev (>= 1.7-~~),
 librust-serde-1+default-dev,
 librust-serde-1+derive-dev,
 librust-serde-json-1+default-dev,
 librust-serde-plain-1+default-dev,
 librust-serde-with-3+default-dev,
 librust-thiserror-2+default-dev,
 librust-tracing-0.1+default-dev (>= 0.1.37-~~)
Suggests:
 librust-proxmox-ve-config+frr-dev (= ${binary:Version})
Provides:
 librust-proxmox-ve-config+default-dev (= ${binary:Version}),
 librust-proxmox-ve-config-0-dev (= ${binary:Version}),
 librust-proxmox-ve-config-0+default-dev (= ${binary:Version}),
 librust-proxmox-ve-config-0.3-dev (= ${binary:Version}),
 librust-proxmox-ve-config-0.3+default-dev (= ${binary:Version}),
 librust-proxmox-ve-config-0.3.1-dev (= ${binary:Version}),
 librust-proxmox-ve-config-0.3.1+default-dev (= ${binary:Version})
Description: Rust crate "proxmox-ve-config" - Rust source code
 Source code for Debianized Rust crate "proxmox-ve-config"

Package: librust-proxmox-ve-config+frr-dev
Architecture: any
Multi-Arch: same
Depends:
 ${misc:Depends},
 librust-proxmox-ve-config-dev (= ${binary:Version}),
 librust-proxmox-frr-0.1+default-dev
Provides:
 librust-proxmox-ve-config-0+frr-dev (= ${binary:Version}),
 librust-proxmox-ve-config-0.3+frr-dev (= ${binary:Version}),
 librust-proxmox-ve-config-0.3.0+frr-dev (= ${binary:Version})
Description: Rust crate "proxmox-ve-config" - feature "frr"
 This metapackage enables feature "frr" for the Rust proxmox-ve-config crate, by
 pulling in any additional dependencies needed by that feature.

